#sidenav-header {
  height: 180px;
  width: 100%;
  background: #142f46 url('../res/img/arch_logo.png') no-repeat center center;
  background-size: 80%;
}

#sidenav-info {
  height: 40px;
  width: 100%;
  background-color: #142f46;
  color: white;
  padding-left: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.4s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
