<md-card class="animate-show" ng-repeat="task in history">
  <md-card-content layout-padding>
    <p>{{task.client}}, <b>{{calcDiff(task)}}</b></p>
    <p>Started: {{task.startTime | amCalendar}}</p>
    <md-button class="md-raised md-primary" layout-align="right" ng-click="edit(task)">Edit</md-button>
  </md-card-content>
</md-card>
<div layout="row" layout-align="center center" class="full-width" ng-show="isLoading">
  <md-progress-circular md-mode="indeterminate" class="md-hue-2"></md-progress-circular>
</div>
