<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Current">
      <md-content class="md-padding">
        <div class="slide-animate" ng-controller="MainCtrl as ctrl">
          <ng-include src=" 'views/current.html' "></ng-include>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="History">
      <md-content class="md-padding" ng-controller="HistoryCtrl">
        <ng-include src=" 'views/history.html' "></ng-include>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
