<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-content ng-controller="LoginCtrl" layout-padding>
    <form>
      <md-input-container>
        <label for="testInput">Test input</label>
        <input type="text" id="testInput"
               ng-model="data" md-autofocus>
      </md-input-container>
    </form>
    <md-divider></md-divider>
    <md-button ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>
